.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .add-button {
    width: fit-content;
    padding: 10px 24px;
    border: none;
    background-color: #1e90ff;
    color: white;
    cursor: pointer;
    align-self: flex-start;
  }
}
